# **{{ type }}** {{ reflexion.getShortName }}

Full name : `{{ class }}`

## Properties

{{# properties}}
- `{{.}}`
{{/ properties}}

## Methods summary

| Method | Description |
|---|---|
{{# methods }}
| [`{{name}}`]({{name}}.md) | {{description}} |
{{/ methods }}
