
# {{ name }}

**Class** : {{ reflexion.getDeclaringClass.getShortName }}
**Namespace**  : {{ reflexion.getDeclaringClass.getNamespaceName }}


> {{description}}


{{> Signature}}

{{> Param}}

{{> Return}}

## Implementation

```php
{{{ impl }}}
```
