**Namespace**  : [{{ reflexion.getDeclaringClass.getNamespaceName }}](../__NAMESPACE__.md) -
**Class** : [{{ reflexion.getDeclaringClass.getShortName }}](__CLASS__.md)

## `{{ reflexion.getDeclaringClass.getShortName }}::{{ name }}`

{{> Description}}

{{> Signature}}

{{> Param}}

{{> Return}}

{{> Implementation}}
