
# {{ name }}

**Namespace**  : {{ reflexion.getDeclaringClass.getNamespaceName }}

**Class** : {{ reflexion.getDeclaringClass.getShortName }}


> {{description}}


{{> Signature}}

{{> Param}}

{{> Return}}

{{> Implementation}}
