
# {{ pageName }}

**Namespace**  : {{ namespace }}

# Overview

{{ generateTree }}

---
{{# chapters }}
<a name="{{getReflexion.getShortName}}"></a>
## {{getReflexion.getShortName}}

**{{type}}**  : {{getReflexion.getName}}

### Public methods

| Method | Description |
|---|---|
{{# methods }}
| `{{name}}` | {{description}} |
{{/ methods }}

{{/ chapters }}
